/* list general */
body {
	counter-reset:prf prfp pfc pfcp num urm ult lrm llt numd urmd ultd lrmd lltd numpd urmpd ultpd lrmpd lltpd lltppd lltpppd chapter note dprf
}
ol,ul {
	height:max-content;
	margin:1em 0 1em 2em;
	padding:0
}
ol ol, ol ul, ul ol, ul ul {
	margin-left:0;
	margin-top:0
}
blockquote ol, blockquote ul {
	margin-left:0
}
li::before {
	width:1.75em;
	text-align:right;
	position:absolute;
	left:-2em
}
li {
	margin-right:2em;
	list-style:none;
	position:relative;
	left:2em;
}
ul > li {
	left:0
}
.gap > li {
	margin-top:1em
}
.gap > li:first-child {
	margin-top:0
}
.bold > li::before {
	font-weight:bold;
}

/* ordered-list style */

/* proof list */
ol.prf > li::before, ol.prfp > li::before {
	left:-2.5em;
	width:2.25em;
	font-style:italic
}
ol.prf > li::before {
	counter-increment:prf;
	content:"P" counter(prf) ". "
}
ol.prf > li:last-child::before {
	counter-increment:pfc;
	content:"C" counter(pfc) ". "
}
ol.prfp > li::before {
	counter-increment:prfp;
	content:"P" counter(prfp) "'. ";
}
ol.prfp > li:last-child::before {
	counter-increment:pfcp;
	content:"C" counter(pfcp) "'. "
}
ol.prf > li, ol.prfp > li {
	left:2.5em;
	margin-right:2.5em
}
ol.pfs {
	counter-reset:pfs;
	width:max-content;
}
ol.pfs > li::before {
	left:-1.5em;
	width:1em;
	counter-increment:pfs;
	content:counter(pfs) ".";
	font-style:italic
}
ol.pfs > li:last-child::before {
	left:0.5em;
	counter-increment:none;
	content:"∴"
}
ol.pfs > li:last-child {
	margin-left:-2em;
	padding-top:0.25em;
	padding-left:2em;
	border-top:black 1px solid;
}
ol.cpfs {
	counter-reset:cpfs nplus
}
ol.cpfs > li::before {
	left:-3.5em;
	width:3em;
	counter-increment:cpfs;
	content:"P" counter(cpfs) ".";
	font-style:italic
}
ol.cpfs > li.ellip::before {
	content:none;
}
li.ellip + li::before {
	content:"Pm."
}
li.ellip + li ~ li::before {
	counter-increment:nplus;
	content:"Pm+" counter(nplus) "."
}
ol.cpfs > li:nth-last-of-type(2)::before {
	content:"Pn."
}
ol.cpfs.gai > li:nth-last-of-type(2)::before {
	content:"Pn-1."
}
ol.cpfs > li:last-of-type::before {
	counter-increment:none;
	content:"C."
}
ol.pfq::before {
	width:1.5em;
	left:-2em;
	position:absolute;
	counter-increment:dprf;
	content:"(" counter(dprf) ")"
}
ol.pfq {
	position:relative;
	float:left;
	margin-right:1.5em;
	margin-bottom:0;
	margin-top:0;
	counter-reset:pfq
}
ol.pfq:last-child {
	margin-right:0
}
ol.pfq > li::before {
	left:-1.75em;
	width:1.5em;
	text-align:right;
	counter-increment:pfq;
	content:"P" counter(pfq) ".";
	font-style:italic
}
ol.pfq > li:last-child::before {
	content:"C ."
}
ol.pfq > li {
	left:1.75em;
}

/* ordered-list (bracket) */
ol.num > li::before {
	counter-increment:num;
	content:"(" counter(num) ")"
}
ol.urm > li::before {
	counter-increment:urm;
	content:"(" counter(urm,upper-roman) ")"
}
ol.ult > li::before {
	counter-increment:ult;
	content:"(" counter(ult,upper-latin) ")"
}
ol.lrm > li::before {
	counter-increment:lrm;
	content:"(" counter(lrm,lower-roman) ")"
}
ol.llt > li::before {
	counter-increment:llt;
	content:"(" counter(llt,lower-latin) ")"
}

/* ordered-list (dotted) */
.numd > li::before, .urmd > li::before, .lrmd > li::before, .ultd > li::before, .lltd > li::before,
.numpd > li::before, .urmpd > li::before, .lrmpd > li::before, .ultpd > li::before, .lltpd > li::before,
.lltppd > li::before, .lltpppd > li::before {
	left:-1.5em;
	width:1.25em
}
.numd > li, .urmd > li, .lrmd > li, .ultd > li, .lltd > li,
.numpd > li, .urmpd > li, .lrmpd > li, .ultpd > li, .lltpd > li,
.lltppd > li, .lltpppd > li {
	left:1.5em;
	margin-right:1.5em
}
ol.numd > li::before {
	counter-increment:numd;
	content:counter(numd) ". "
}
ol.urmd > li::before {
	counter-increment:urmd;
	content:counter(urmd,upper-roman) ". "
}
ol.ultd > li::before {
	counter-increment:ultd;
	content:counter(ultd,upper-latin) ". "
}
ol.lrmd > li::before {
	counter-increment:lrmd;
	content:counter(lrmd,lower-roman) ". "
}
ol.lltd > li::before {
	counter-increment:lltd;
	content:counter(lltd,lower-latin) ". "
}
ol.numpd > li::before {
	counter-increment:numpd;
	content:counter(numpd) "'. "
}
ol.urmpd > li::before {
	counter-increment:urmpd;
	content:counter(urmpd,upper-roman) "'. "
}
ol.ultpd > li::before {
	counter-increment:ultpd;
	content:counter(ultpd,upper-latin) "'. "
}
ol.lrmpd > li::before {
	counter-increment:lrmpd;
	content:counter(lrmpd,lower-roman) "'. "
}
ol.lltpd > li::before {
	counter-increment:lltpd;
	content:counter(lltpd,lower-latin) "'. "
}
ol.lltppd > li::before {
	counter-increment:lltppd;
	content:counter(lltppd,lower-latin) "''. "
}
ol.lltpppd > li::before {
	counter-increment:lltpppd;
	content:counter(lltpppd,lower-latin) "'''. "
}

/* counter-reset */
ol.local.prf {counter-reset: prf}
ol.local.num {counter-reset: num}
ol.local.urm {counter-reset: urm}
ol.local.ult {counter-reset: ult}
ol.local.lrm {counter-reset: lrm}
ol.local.llt {counter-reset: llt}
ol.local.numd {counter-reset: numd}
ol.local.urmd {counter-reset: urmd}
ol.local.ultd {counter-reset: ultd}
ol.local.lrmd {counter-reset: lrmd}
ol.local.lltd {counter-reset: lltd}
ol.local.numpd {counter-reset: numpd}
ol.local.urmpd {counter-reset: urmpd}
ol.local.ultpd {counter-reset: ultpd}
ol.local.lrmpd {counter-reset: lrmpd}
ol.local.lltpd {counter-reset: lltpd}
ol.local.lltppd {counter-reset: lltppd}
ol.local.lltpppd {counter-reset: lltpppd}

/* unordered-list style */

/* disc general */
ul li::before {
	width:2em;
	text-align:center;
}
ul > li::before {
	content:"•"
}
ul > li {
	left:1em
}
ul ul > li::before {
	content:"◦"
}
ul ul ul > li::before {
	content:"▸"
}
ul ul ul ul > li::before {
	content:"▹"
}
ul ul ul ul ul > li::before {
	font-size:75%;
	content:"⬥"
}
ul ul ul ul ul ul > li::before {
	font-size:75%;
	content:"⬦"
}
ul.list > li::before {
	content:none
}
ul.list > li {
	left:0
}

/* induction style */
ul.induction > li::before {
	position:absolute;
	width:2.25em;
	left:-2.5em
}
ul.induction > li:nth-child(1)::before {
	content:"B.C."
}
ul.induction > li:nth-child(2)::before {
	content:"I.H."
}
ul.induction > li:nth-child(3)::before {
	content:"I.C."
}
ul.induction > li {
	left:2.5em;
	margin-right:2.5em
}

/* definition style */
.def ul {
	border:solid 1px black;
	margin-left:0;
	padding:0.25em 0.5em
}
.def span::before {
	content:"Df";
	vertical-align:baseline;
	position:relative;
	bottom:-0.4em;
	font:bold 70% 'Felipa'
}

/* list style override */
