.exam h2:before {
	content:none
}
.exam h2 {
	margin-bottom:0
}
.exam h2 span {
	font-size:12pt;
	font-weight:normal;
}
.exam h4:before {
	content:none
}
.exam * {
	margin-left:0;
	text-indent:0;
}
.exam ol, .exam ul, .exam blockquote, div.section>ol>li {
	margin-top:0.5em;
	margin-bottom:0.5em;
}
.exam div.section {
	display:flow-root;
}
.flex {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-between;
	align-items:flex-start
}
.grow {
	flex-grow:1
}
.flex.nogrow * {
	flex-grow:0
}
div.float {
	float:left;
}
.exam ol.prfq::before {
	content:"(" counter(ult,upper-latin) ")";
	counter-increment:ult 1;
}
.exam div.flex:first-child ol.prfq::before {
	content:"例："
}
.exam ol.prfq {
	max-width: 45%;
	counter-reset:num
}
.exam ol.prfq li::before {
	left:-2em;
	font-style:italic;
	content:"P" counter(num) ". ";
	counter-increment:num
}
.exam ol.prfq li:last-child::before {
	content:"C."
}
.exam ol.prfq > li {
	left:2em;
	margin:0
}
.exam ol.prfq > li:last-child {
	margin-bottom:0.5em
}
.exam ol.rule {
	border-top:solid 1px black
}
.exam ol.rule > li::before {
	left:-1.5em;
	content: counter(num) ". ";
	counter-increment:num
}
.exam ol.rule > li {
	left:1.5em;
	margin-top:0
}
.exam table {
	margin:0;
	margin-top:0.5em;
}
.exam table.prfq {
	counter-reset:numd;
}
.exam table.prfq td:first-child::before {
	counter-increment:numd 1;
	content:counter(numd) ". "
}
.exam table.prfq td {
	height:1.75em
}
.exam table.prfq td:first-child {
	padding-right:1em
}
table.quiz {
	width:100%;
}
table.quiz td {
	padding-top:0.5em;
}
table.quiz tr:first-child td {
	padding-top:0;
}
table.quiz td:before {
	counter-increment:numd;
	content:counter(numd) ". ";
}
table.semantics {
	width:95%;
	border-collapse:collapse;
}
table.semantics tr:first-child td {
	border-top:none;
	font-weight:bold;
}
table.semantics td:first-child {
	font-weight:bold;
}
table.semantics td {
	border-top:1px solid black;
	padding-top:0.5em;
	padding-bottom:0.25em;
	text-align:center;
}
div.wrap {
	border:solid 1px black;
}
