@font-face {
  font-family: 'Noto Serif TC';
  font-weight: 200;
  src: url('https://isaacstn.github.io/fonts/NotoSerifTC/NotoSerifCJKtc-Extralight.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Serif TC';
  font-weight: 300;
  src: url('https://isaacstn.github.io/fonts/NotoSerifTC/NotoSerifCJKtc-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Serif TC';
  font-weight: 400;
  src: url('https://isaacstn.github.io/fonts/NotoSerifTC/NotoSerifCJKtc-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Serif TC';
  font-weight: 500;
  src: url('https://isaacstn.github.io/fonts/NotoSerifTC/NotoSerifCJKtc-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Serif TC';
  font-weight: 600;
  src: url('https://isaacstn.github.io/fonts/NotoSerifTC/NotoSerifCJKtc-SemiBold.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Serif TC';
  font-weight: 700;
  src: url('https://isaacstn.github.io/fonts/NotoSerifTC/NotoSerifCJKtc-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Serif TC';
  font-weight: 900;
  src: url('https://isaacstn.github.io/fonts/NotoSerifTC/NotoSerifCJKtc-Black.otf') format('opentype');
}
