body {
	hyphens:auto;
	hyphenate-after:2;
	hyphenate-before:2;
	width:11cm;
	margin: auto;
	font:normal normal 18pt 'CMU Serif',cwTeXKai;
	text-align:justify;
	text-justify:inter-ideograph;
	prince-text-justify:prince-cjk;
}
@page {
	size:A4;
	margin:5cm 5cm 6cm 5cm;
	@bottom-center {
		vertical-align:top;
		text-align:center;
		font:normal bold 18pt 'CMU Serif','cwTeXKai';
	}
}
h1 {
	font:normal bold 2.4em 'CMU serif','cwTeXKai';
	text-align:center;
	padding:0.5em 0;
}
h2 {
	font:normal bold 1.5em 'CMU serif','cwTeXKai';
	text-align:left;
}
img {
	width:11cm;
	margin:auto;
}
