@page {
	size:A4;
	margin:3cm 2.5cm 3cm 3.5cm;
	@footnotes {
		margin-top: 0.5em;
		border-top: 1px solid #000;
		border-clip: 8em;
		padding-top: 0.5em;
		padding-right:1em;
	}
}
@page front-matter {
	@top-right {
		text-align:right;
		counter-increment:page;
		content:counter(page, lower-roman);
		padding-top:50%;
	}
}
@page main {
	@top-right {
		text-align:right;
		counter-increment:page;
		content:counter(page);
		padding-top:50%;
	}
}
@media print {
	p {
		widows:2;
		orphans:2;
	}
	h1, h2, h3, h4, h5 {
		page-break-after:avoid;
	}
	table, svg {
		page-break-inside:avoid;
	}
	span.note::before {
		display:none;
	}
	span.box {
		float:footnote;
		width:100%;
		border:none;
		background-color:transparent;
		box-shadow:none;
		position:static;
		visibility:visible;
		opacity:1;
		font-size:10pt;
		padding:0;
		margin:0.5em 0em 0 1.2em;
	}
}