body {
	font-family:'CMU Serif','STIXGeneral','Noto Serif TC','MingLiU-ExtB';
	font-size:normal;
	counter-reset:prf page 1;
}
@page {
	font-family:'GenSenMaru';
	size:20cm 15cm;
	margin:0cm 0cm 0.5cm 0cm;
	@bottom-left {
		background-color:#342d7e;
		width:12.5cm;
		text-align:right;
		color:#fff;
		font-family:'GenSenMaru';
		font-size:90%;
		font-weight:bold;
		content:"黃頌竹　";
	}
	@bottom-right {
		background-color:#000;
		width:7.5cm;
		text-align:left;
		color:#fff;
		font-family:'GenSenMaru';
		font-size:90%;
		font-weight:bold;
		counter-increment:page;
		content:"　" counter(page);
	}
}@media {
    html, body {
        height: 99%;    
    }
}
body > div {
	page-break-before:always;
	page-break-after:avoid;
}
body > div:first-child {
	page-break-before:avoid;
}
div.float {
	float:left;
	color:#fff;
}
div.left {
	background-color:#342d7e;
	width:12.5cm;
	text-align:left;
	text-indent:0.66em;
}
div.right {
	background-color:#000;
	width:7.5cm;
	text-align:left;
	text-indent:1em;
	font-weight:bold;
	color:#565051;
}
body > div > div > p {
	margin:0;
}
body > div > div:nth-child(3) {
	hyphens:auto;
	hyphenate-after:3;
	hyphenate-before:3;
	text-align:justify;
	padding:1.5cm 2cm 0cm 2cm;
	font-weight:bold;
}
body > div > div:nth-child(3) > p {
	margin:1em auto 1em auto;
}
li > p {
	margin-top:0.5em;
	margin-bottom:0.5em;
}
h1 {
	font-size:200%;
	line-height:1.5cm;
	margin:0 0 0 1em;
}
h2 {
	font-size:150%;
}
math.isaac {
	font-family:'CMU math','STIXGeneral',Serif;
	margin-top:0.5em;
	display:block;
}
math.isaac mi {
	font:italic;
	mathvariant:italic;
}
math.isaac mfrac {
	font-size:1.3em;
}
ol,ul {
	margin:0;
	padding:0;
	counter-reset:quiz num urm ult lrm llt;
}
li {
	list-style:none;
	position:relative;
	left:2em;
	margin-right:2em;
	margin-top:0.5em;
}
ol.starnum > li:before {
	position:absolute;
	left:-2em;
	counter-increment:num;
	content:"*" counter(num);
}
ol.num > li:before {
	position:absolute;
	left:-2em;
	counter-increment:num;
	content:"(" counter(num) ")";
}
ol.llt > li:before {
	position:absolute;
	left:-2em;
	counter-increment:llt;
	content:"(" counter(llt,lower-latin) ")";
}
ul > li:before {
	position:absolute;
	left:-2em;
	color:#342d7e;
	content:"♦";
}
ul.induction > li:before {
	position:absolute;
	left:-2.5em;
}
ul.induction > li:nth-child(1):before {
	content:"B.C.";
}
ul.induction > li:nth-child(2):before {
	content:"I.H.";
}
ul.induction > li:nth-child(3):before {
	content:"I.C.";
}
ul.induction > li {
	left:2.5em;
	margin-right:2.5em;
}
li.hidden {
	position:absolute;
	left:-99999px;
}
table {
	border-collapse:collapse;
}
table.prf {
	width:100%;
	counter-reset:tprf;
}
table.prf td:first-of-type:before {
	position:absolute;
	left:-1.5em;
	counter-increment:tprf;
	content:counter(tprf)". ";
}
table.prf td:nth-of-type(1) {
	position:relative;
	left:1.5em;
}
table.prf td {
	vertical-align:middle;
}
table.prf th {
	width:1.5cm;
}
.white {
	color:#fff;
}
.red {
	color:#f00;
}
