h1, h2, h3, h4, h5 {
	font-family:'CMU Serif','Adobe FangSong';
	font-weight:bold;
	text-align:center;
}
h1::before {
	content:"第" counter(chapter, trad-chinese-informal) "章　";
	counter-increment:chapter;
}
h1 {
	font-size:28pt;
	margin-top:2.5em;
	margin-bottom:1.5em;
	page-break-before:always;
	counter-reset:section;
}
h1#ref {
	text-align:left;
	padding:0;
}
div.chapter:first-of-type h1::before {
	content:none;
	counter-increment:chapter 0
}
div.chapter:nth-last-of-type(3) ~ h1::before {
	content:none;
	counter-increment:chapter 0;
}
h1:first-of-type {
	page-break-before:avoid;
}
h2::before {
	counter-increment:section;
	content: "第" counter(section,trad-chinese-informal) "節、";
}
h2 {
	counter-reset:subsection;
	margin:2em auto 1em auto;
	font-size:20pt;
}
h2#abstract::before {
	content:none;
}
h2#abstract {
	text-align:center;
}
h3::before {
	counter-increment:subsection;
	content: counter(chapter) "." counter(section) "." counter(subsection) ". ";
}
h3 {
	margin-top:1em;
	margin-bottom:1em;
	counter-reset:portion;
	font-size:16pt;
}
h4::before {
	counter-increment:portion;
	content:counter(chapter) "." counter(section) "." counter(subsection) "." counter(portion) ". ";
}
h4 {
	margin-top:1em;
	font-size:12pt;
}
h5::before {
	content:"【";
}
h5 {
	margin-top:1em;
	font-size:12pt;
}
h5::after {
	content:"】";
}