h1, h2, h3, h4, h5 {
	font-family: 'CMU Serif','Noto Serif TC';
	font-size:12.5pt;
	font-weight: 900;
	page-break-after:avoid
}
h1 {
	margin: 24pt auto;
	counter-reset: section;
	text-align:center
}
h1:first-of-type {
	page-break-before: avoid
}
h1::before {
	content: "第" counter(chapter, trad-chinese-informal) "章　";
	counter-increment: chapter;
}
div.chapter:first-of-type h1::before {
	content: none;
	counter-increment: chapter 0
}
div.chapter:nth-last-of-type(2) h1::before,
div.chapter:last-of-type h1::before {
	content: none;
	counter-increment: chapter 0;
}
h2::before {
	counter-increment: section;
	content: "第" counter(section,trad-chinese-informal) "節、";
}
h2 {
	counter-reset: subsection;
	text-align:center;
	margin-top: 24pt
}
h2#abstract::before {
	content: none;
}
h2#abstract {
	text-align: center;
}
h3::before {
	counter-increment: subsection;
	content: counter(subsection,trad-chinese-informal) "、";
}
h3 {
	margin-top: 24pt;
	counter-reset: portion;
}
h4::before {
	counter-increment: portion;
	content: counter(chapter) "." counter(section) "." counter(subsection) "." counter(portion) ". ";
}
h4 {
	margin-top: 1em;
}
h5::before {
	content: "【";
}
h5 {
	margin-top: 1em;
	font-size: 12pt;
}
h5::after {
	content: "】";
}
