@font-face {
  font-family: 'Noto Sans TC';
  font-weight: 100;
  src: url(https://isaacstn.github.io/fonts/NotoSansTC/NotoSansCJKtc-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-weight: 300;
  src: url(https://isaacstn.github.io/fonts/NotoSansTC/NotoSansCJKtc-Light.otf) format('opentype');
}
/*
@font-face {
  font-family: 'Noto Sans TC';
  font-weight: 350;
  src: url(https://isaacstn.github.io/fonts/NotoSansTC/NotoSansCJKtc-DemiLight.otf) format('opentype');
}
*/
@font-face {
  font-family: 'Noto Sans TC';
  font-weight: 400;
  src: url(https://isaacstn.github.io/fonts/NotoSansTC/NotoSansCJKtc-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans TC';
  font-weight: 500;
  src: url(https://isaacstn.github.io/fonts/NotoSansTC/NotoSansCJKtc-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans TC';
  font-weight: 700;
  src: url(https://isaacstn.github.io/fonts/NotoSansTC/NotoSansCJKtc-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans TC';
  font-weight: 900;
  src: url(https://isaacstn.github.io/fonts/NotoSansTC/NotoSansCJKtc-Black.otf) format('opentype');
}
