@font-face {
  font-family: 'GenJyuu';
  font-weight: 100;
  src: url('https://isaacstn.github.io/fonts/GenJyuu/GenJyuuGothicX-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'GenJyuu';
  font-weight: 200;
  src: url('https://isaacstn.github.io/fonts/GenJyuu/GenJyuuGothicX-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'GenJyuu';
  font-weight: 400;
  src: url('https://isaacstn.github.io/fonts/GenJyuu/GenJyuuGothicX-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'GenJyuu';
  font-weight: 500;
  src: url('https://isaacstn.github.io/fonts/GenJyuu/GenJyuuGothicX-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'GenJyuu';
  font-weight: 700;
  src: url('https://isaacstn.github.io/fonts/GenJyuu/GenJyuuGothicX-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'GenJyuu';
  font-weight: 900;
  src: url('https://isaacstn.github.io/fonts/GenJyuu/GenJyuuGothicX-Heavy.ttf') format('truetype');
}
